<div class="container" id="show-container">
  <div class= "cocktail-detail">
    <div class= "show" id="cocktail-show"><h2><%= @cocktail.name %></h2>
      <%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %>
    </div>
    <div class="doses" id="dose-each"><% @cocktail.doses.each do |dose| %>
      <p><%= dose.description %>: <%= dose.ingredient.name %></p>
      <p><%= link_to("Destroy dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }) %></p>
      <% end %>
    </div>

  </div>
  <div class= "button">
      <%= link_to "Ajouter une dose", new_cocktail_dose_path(@cocktail),  class: "btn btn-primary" %>
      <%= link_to "Page d'accueil", cocktails_path,  class: "btn btn-primary" %>

    </div>
  <br>
  <br>
  <p>Ajouter une photo au cocktail</p>
  <p><%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit %>
  <% end %></p>
</div>
